* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", serif;
    background: #1E201E;
}



header .header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    padding: 1.5em;
}

header {
    background: #3C3D37;
    height: auto;
    color: #E2E2B6;
}

label {
    display: block;
    margin: 0;
}

input[type="text"] {
    padding: .5em 5em .5em .2em;
    border-radius: 5px;
    border: 1px solid #697565;
    margin-bottom: 2em;
    background: #ffff;

}

.inputs {
    display: flex;
    justify-content: center;
}

.heading {
    font-size: 1.2rem;
}

.logo {
    display: flex;
    align-items: center;
    gap: .3em;
}

.new_btn {
    padding: .5em 1em;
    border: 2px solid #E2E2B6;
    border-radius: 5px;
    background: #3C3D37;
    font-family: "Inter", serif;
    font-weight: 800;
    color: #ffff;
}

.new_btn:hover {
    background: #697565;
}

.add_btn {
    display: block;
    padding: .5em 1em;
    margin: 1em 0;
    border-radius: 5px;
    color: #ffff;
    background-color: #1E201E;
    border: none;

}

.fa-book {
    font-size: 1rem;
}

.book_modal {
    width: 40vh;
    height: 50vh;
    background: #E9ECEF;
    margin-top: 2em;
    margin: 2em auto;
    padding: 1em;
    position: relative;
    border-radius: 5px;
    display: none;
    justify-content: center;
}

.fa-xmark {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
    margin: .1em .2em;
}

.fa-xmark:active,
.fa-xmark:hover {
    color: red;
}

.open_modal {
    visibility: flex;
    opacity: 1;

}

